<!doctype html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'todo/css/style.css' %}">
	<script src="{% static 'todo/js/addlist.js' %}"></script>
</head>
<body>
	<div id='content'>
		<h1>Lists</h1>
		{% if lists %}
			<ul id="list_list">
			{% include 'todo/list_list.html' %}
			</ul>
		{% else %}
			<p>You don't have any lists</p>
		{% endif %}
		
		<input type='text' id='new_list_name'></input>
		<input type='text' id='new_list_description'></input>
		<button onclick="addList()">Add List</button>
	</div>
</body>
</html>
