<!doctype html>
<html>
<head>
	{% load static %}
	<title>Samiser's Todo List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/> 
	<link rel="stylesheet" type="text/css" href="{% static 'todo/css/style.css' %}">
</head>
<body>
<div id='wrapper'>
	<h1>Samiser's Todo List</h1>
	<h2>{{ id }} <a href="{% url 'todo:login' %}"><button id="change_id">Change ID</button></a></h2>
	<div class='content left' id="list_list">
		{% include 'todo/list_list.html' %}
	</div>

	<div id="todo_list" class='content right'>
		{% include 'todo/list_only.html' with actual_list=list.0 %}
	</div>

	<div id="add_list_div" class='content left'>
		<h1>Add a List</h1>
		<form action="{% url 'todo:add_list' %}" onsubmit="addList(); return false;" method="post">
			<ul class="form_list">
				<li><label for="new_list_name">Name</label>	
				<input name='name' type='text' id='new_list_name'></input></li>
				<li><label for="new_list_description">About</label>	
				<input name='description' type='text' id='new_list_description'></input></li>
				<li><input id="submit" type='submit' value='Add List'></input></li>
			</ul>
		</form>
	</div>
</div>

{% if list %}
<script>
	let list_id = {{ list.id }};
</script>
{% endif %}
<script>
	let url = "{% url 'todo:index' %}";
</script>
<script src="{% static 'todo/js/additem.js' %}"></script>
<script src="{% static 'todo/js/addlist.js' %}"></script>

</body>
</html>
