:root {
	--bg-1: #43aa8b;
	--bg-1-dim: #2a9374;
	--bg-2: #254441;
	--fg-1: #d1faff;
	--bg-3: #272d2d;
}

body {
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	background-color: var(--bg-1);
	color: var(--fg-1);
}

a {
	text-decoration: none;
	color: var(--fg-1);
}

ul {
	list-style: none;
	padding: 0;
}

button, input {
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

button {
	float: right;
	background-color: var(--bg-1);
	color: var(--fg-1);
	border: none;
	border-radius: 5px;
	padding: 7px;
	width: 70px;
}

button:hover {
	background-color: var(--bg-1-dim);
	cursor: pointer;
}

input {
	width: 270px;
	border-radius: 5px;
	height: 28px;
	border: none;
	padding-left: 4px;
}

label {
	padding: 10px;
}

#add_item_submit {
	float: right;
	background-color: var(--bg-1);
	color: var(--fg-1);
	border: none;
	border-radius: 5px;
	padding: 7px;
	width: 70px;
	padding-bottom: 23px;
}

#add_item_submit:hover {
	background-color: var(--bg-1-dim);
	cursor: pointer;
}

#new_item_content {
	width: calc(100% - 84px);
}

#enter_id {
	width: calc(100% - 84px);
}

#enter_id_form {
	margin: 0 auto;
	position: relative;
}

.add li {
	height: 30px;
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	background-color: var(--bg-2);
	border-radius: 10px;
}

.list li {
	height: 30px;
	padding: 10px;
	font-size: 20px;
	margin: 10px;
	background-color: var(--bg-3);
	border-radius: 10px;
}

.content {
	background-color: var(--bg-2);
	width: 400px;
	padding: 4%;
	margin: 10px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
}

.left {
	float: left;
}

.right {
	float: right;
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
}

.add {
	background-color: var(--bg-3);
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

.form_list {
	background-color: var(--bg-3);
	padding: 30px;
	border-radius: 10px;
}

.hide {
   display: none;
}

.form_list li {
	margin: 10px;
}

.form_list li input {
	width: calc(95% - 4px);
}

.form_list li input#submit {
	background-color: var(--bg-1);
	color: var(--fg-1);
	border: none;
	border-radius: 5px;
	padding: 7px;
	width: 70px;
	height: 30px;
}

.form_list li input#submit:hover {
	background-color: var(--bg-1-dim);
	cursor: pointer;
}

@media only screen and (max-width: 1000px) {
	#wrapper {
		margin: 0 auto;
		width: 500px;
	}

	.form_list {
		padding: 8%;
	}	

	.form_list li {
		margin-left: 0px;
		margin-right: 0px;
	}

	.form_list li input {
		width: 97%;
	}

	.right {
		float: left;
	}

	.list li {
		margin-left: 0;
		margin-right: 0;
	}

	.content {
		width: calc(100% - 60px) ;
	}
} 

@media only screen and (max-width: 500px) {
	#wrapper {
		width: 100%;
	}

	.content {
		width: 86%;
	}
} 
