body {
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	background-color: black;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
	padding: 0;
}

button, input {
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

button {
	float: right;
}

li {
	height: 30px;
	padding: 20px;
}

#content {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
